.active-paginate, 
.paginate{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 40px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    
}

.active-paginate{
    background-color: #4589ff;
    color:white;
    font-weight: 600;

}

