.tab-container{
    scrollbar-width: none;
}
.tab-container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}


.tab,
.active-tab {
    border: 1px solid #ccc;
    height:48px;
    padding: 0 2em;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display:flex;
}


.active-tab{
    border-top: 3px solid #4589ff;
    color: #4589ff;
    font-weight: 600;
}

